<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="LMSDashBoard" value="http://qa.ams.dhltd.corp/#/login" />-->
		<add key="LMSDashBoard" value="http://qa4.ams.dhltd.corp/#/login" />
		<add key="LMSDashBoardQA3" value="http://qa3.ams.dhltd.corp/#/login" />
		<add key="LMSDashBoardQA2" value="http://qa2.ams.dhltd.corp/#/login" />
		<add key="LMSDashBoardQA" value="http://qa.ams.dhltd.corp/#/login" />
		<add key="LMSDashBoardQA4" value="http://qa4.ams.dhltd.corp/#/login" />
		<add key="LMSDashBoardUAT3" value="https://uat3.ams.collateralguard.ca/#/login" />
		<add key="LMSDashBoardPAT" value="https://pat.ams.collateralguard.ca/#/login" />
		<add key="LMSDashBoardDEV" value="http://dev2.ams.dhltd.corp/#/login" />
<add key="LMSDashBoardPAT2" value="https://pat2.ams.collateralguard.ca/#/login" />

		<add key="LMSDashBoardUserNameTeranet" value="Brenta.Charles@teranet.ca" />
		<add key="LMSDashBoardUserName1" value="Brenta.Charles@trader.ca" />
		<add key="LMSDashBoardUserNameQA" value="Brenta.Charles@trader.ca" />
		<add key="LMSDashBoardUserNameUAT3" value="uat3test@trader.ca" />
		<add key="LMSDashBoardUserNameQA4Alt" value="brentaqa4@trader.ca" />

		<add key="LMSDashBoardClientAdminUserName" value="TestClientAdmin@trader.ca" />
		<add key="LMSDashBoardUserNameuser1" value="user1@trader.ca" />
		<add key="LMSDashBoardUserNameuser2" value="user2@trader.ca" />
		<add key="AMSUpdatedPswd" value="Teranet123!" />

		<add key="CGeDashBoard" value="http://aqa1.cge.dhltd.corp/" />

		<add key="CGeDashBoardUserName" value="BrentaMW" />
		<add key="CGePswd" value="Oct@#2025." />

		<add key="LMSDashBoardUATClientUserName" value="uatsdauser@trader.ca" />
		<add key="LMSDashBoardClientUserName" value="TestClientUser@trader.ca" />
		<add key="LMSDashBoardSDAClientUserName" value="sdaClientUser@trader.ca" />
		<add key="LMSDashBoardMBClientUserName" value="ClientuserMB@trader.ca" />
		<add key="LMSDashBoardEquiteClientUserName" value="EquiteTestUser@trader.ca" />
		
		<add key="LMSDashBoardBusinessUserName" value="TestBusinessUser@trader.ca" />
		<add key="LMSDashBoardTDAFAdminUserName" value="tdafadmin@tdaf.ca" />
		<add key="LMSDashBoardSDAAdminUserName" value="sda_admin@trader.ca" />
		<add key="LMSDashBoardSDANonAdminUserName" value="sdacollections@sda.ca" />
		<add key="LMSDashBoardAccViewUserName" value="testaccview@trader.ca" />
		<add key="LMSDashBoardSkipUser" value="skipuser2@trader.ca" />

		<add key="LMSDashBoardGBCUser" value="GBCuser@trader.ca" />

		<add key="LMSDashBoardSupportUser" value="TestSupport@trader.ca" />
		<add key="LMSDashBoardTDAFAccViewUserName" value="tdafaccview@trader.ca" />

		<add key="RemoteDesktopPathChromeWithBuildData" value="\\MRKREGAPVWQA26\Projects\Inbound\TrimValidation\ChromeWithBuildData\" />
		<add key="RemoteDesktopPathChromeNoBuildData" value="\\MRKREGAPVWQA26\Projects\Inbound\TrimValidation\ChromeNoBuildData\" />
		<add key="RemoteDesktopPathMonroney" value="\\MRKREGAPVWQA26\Projects\Inbound\TrimValidation\Monroney\" />

		<add key="RemoteDesktopPathRO" value="\\MRKREGAPVWQA26\Projects\Inbound\RO\" />
		
		<add key="RemoteDesktopPathRepo" value="\\MRKREGAPVWQA26\Projects\Inbound\Repo\" />
		<add key="RemoteDesktopPathFileMerge" value="\\MRKREGAPVWQA26\CarfaxFileMerge\" />

		<add key="Dev3PathCarfaxIn" value="\\MRKREGAPVWQA26\Projects\Inbound\bc0203\CarfaxIn\" />
		<add key="Dev3PathCleanlistIn" value="\\MRKREGAPVWQA26\Projects\Inbound\bc0203\CleanlistIn\" />
		<add key="Dev3PathLocatorIn" value="\\MRKREGAPVWQA26\Projects\Inbound\bc0203\LocatorIn\" />
		<add key="Dev3PathRO" value="\\MRKREGAPVWQA26\Projects\Inbound\bc0203\RO\" />
		<add key="Dev3PathRepo" value="\\MRKREGAPVWQA26\Projects\Inbound\bc0203\Repo\" />
		<add key="RemoteDesktopPathRepoDev2AZ" value="\\AZ1AMSAPVWDV023\Projects\Inbound\Repo\" />
		<add key="RemoteDesktopPathRODev2AZ" value="\\AZ1AMSAPVWDV023\Projects\Inbound\RO\" />


		<add key="PowerBIReportURL1" value="https://Brenta.Charles@trader.ca:Password1!@mrkregdbvwdv40.dhltd.corp/PBIReports/powerbi/LMS/QA4/Business/LMSBusinessDashboard?rs:embed=true" />
		<add key="PowerBIReportURL2" value="https://bc0203:Teranet2022$@mrkregdbvwdv40.dhltd.corp/PBIReports/powerbi/LMS/QA4/Business/LMSBusinessDashboard?rs:embed=true" />
		<add key="PowerBIReportURL" value="https://mrkregdbvwdv40.dhltd.corp/PBIReports/powerbi/LMS/QA4/Business/LMSBusinessDashboard?rs:embed=true" />

		<add key="Logs" value="Yes" />
		<add key="Browser" value="chrome" />
		<add key="LVS_IB" value="/QA4/LVS/" />
		<add key="LMSDB" value="[LMS_QA4]" />
		<add key="CGEDB" value="[CGE1]" />
		<add key="APINFSEndpoint" value="http://aqa1publicapiwebsvcs.cge.dhltd.corp" />
		<!--<add key="APINFSEndpoint" value="http://uat15publicapiwebsvcs.cge.dhltd.corp" />-->
		
		<add key="APIVersion" value="/api/v3.0" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--<add key="APIAuthUser" value="tdafapiuser" />-->
		<!--<add key="APIAuthUser" value="mercedesapiuser" />-->
		<add key="APIAuthUser" value="superuser" />
		<add key="APIAuthUserlookup" value="AMSApiUser" />
		<add key="APIAuthUserMB" value="mercedesapiuser" />
	</appSettings>
	<connectionStrings>
		<!--<add name="LMSDBConnectionString" connectionString="Data Source=mrkregdbvwut16;Initial Catalog=LMS_UAT3;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="LMSDBConnectionString" connectionString="Data Source=mrkregdbvwpt16.dhltd.corp;Initial Catalog=LMS_PAT;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="LMSDBConnectionString" connectionString="Data Source=mrkregdbvwdv40;Initial Catalog=LMS_INT3;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="LMSDBConnectionString" connectionString="Data Source=mrkregdbvwdv40;Initial Catalog=LMS_INT2;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="LMSDBConnectionString" connectionString="Data Source=AZ1AMSDBVWDV240;Initial Catalog=LMS_INT2;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="LMSDBConnectionString" connectionString="Server=MRKREGDBVWQA12.DHLTD.CORP;Database=LMS_QA4;User Id=LMSQAUser;Password=tR9@V2mX#qL7pF8w;" />-->
		<add name="LMSDBConnectionString" connectionString="Server=MRKREGDBVWQA12.DHLTD.CORP ;Database=LMS_QA4;User Id=LMSQAUser;Password=tR9@V2mX#qL7pF8w; " />
		<!--<add name="LMSDBConnectionString" connectionString="Data Source=mrkregdbvwqa12.dhltd.corp;Initial Catalog=LMS_QA4;Integrated Security=True" providerName="System.Data.SqlClient" />-->


		<!--<add name="LMSDBConnectionString" connectionString="Data Source=mrkregdbvwpt16.dhltd.corp;Initial Catalog=LMS_PAT2;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="LMSDBConnectionString" connectionString="Data Source=mrkregdbvwqa12.dhltd.corp;Initial Catalog=LMS_QA3;User Id=TRADER\Brenta.Charles; Password=Inhale@#2025.;" providerName="System.Data.SqlClient" />-->
		<add name="LMSDBCgeConnectionString" connectionString="Data Source=MSSCGEDBVWQA91.dhltd.corp;Initial Catalog=CGE2;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    </configuration>